<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>srvInsAlumno</servlet-name>
        <servlet-class>Controlador.srvInsAlumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvInsItem</servlet-name>
        <servlet-class>Controlador.srvInsItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvCompItem</servlet-name>
        <servlet-class>Controlador.srvCompItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvRptItems</servlet-name>
        <servlet-class>Controlador.srvRptItems</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvRptAlumnos</servlet-name>
        <servlet-class>Controlador.srvRptAlumnos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>srvInsAlumno</servlet-name>
        <url-pattern>/srvInsAlumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvInsItem</servlet-name>
        <url-pattern>/srvInsItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvCompItem</servlet-name>
        <url-pattern>/srvCompItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvRptItems</servlet-name>
        <url-pattern>/srvRptItems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvRptAlumnos</servlet-name>
        <url-pattern>/srvRptAlumnos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
